#aboutme {
	color: #4A4A4A;
}

#aboutme h2 {
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: 26px;
	padding-top: 20px; 
	padding-bottom: 20px;
}

.abtCard {
	margin: 0 auto;
	width: 550px;
	border-radius: 5px;
	background: #fff;
	padding: 20px;
}

.abtCard h3 {
	text-align: center;
	margin-bottom: 12px;
}

.abtCard img {
	float: left;
	width: 148px;
	height: 148px;
	border-radius: 5px;
	margin-top: 12px;
	margin-left: 5px;
	margin-right: 12px;
	display: block;
	object-fit: cover;
}

.abtCard span {
	float: right;
	width: 65%;
}

.abtAdvncCard {
	height: 500px;
	width: 550px;
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 100px;
	margin-bottom: 100px;
}