#portfolio {
	width: 100%;
	margin: 0 auto;
	min-height: 800px;
	margin-bottom: 40px;
}

#portfolio h2 {
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: 26px;
	padding-top: 20px; 
	padding-bottom: 20px;
	margin-bottom: 20px;
	color: #4A4A4A;
}

.portfolioArticle {
	height: 290px;
	width: 382px;
	background: #E8E8E8;
	display: inline-block;
	margin: 20px;
	border: solid 2px #E8E8E8;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.portfolioArticle:hover {
	cursor: pointer;
	color: #AB2222;
}

.portfolioArticle img {
	height: 250px;
	width: 100%;
	display: block;
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: none;
}

.portfolioArticle .articleText {
	word-wrap: break-word;
	padding: 5px;
}

.portfolioArticle .articleTitle, .portfolioArticle .date {
	padding: 0px 5px;
	width: 100%;
}

.portfolioArticle .articleTitle {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	width: 100%;
}

.portfolioArticle .date {
	font-size: 13px;
}

/* 1920 */
@media screen and (max-width: 1920px) {
	#portfolio {
		min-height: 700px;
	}
	
    .portfolioArticle {
		height: 280px;
		width: 19%;
		margin: 5px;
	}
	
	.portfolioArticle img {
		height: 240px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 18px;
	}
}

/* iPad Pro Portrait */
@media screen and (max-width: 1024px) {
	#portfolio {
		min-height: 300px;
	}
	
    .portfolioArticle {
		height: 280px;
		width: 48.6%;
		margin: 5px;
	}
	
	.portfolioArticle img {
		height: 240px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 18px;
	}
}

/* iPhone 6/7/8 Plus Portrait */
@media screen and (max-width: 768px) {
	#portfolio {
		min-height: 300px;
	}
	
    .portfolioArticle {
		height: 190px;
		width: 48.2%;
		margin: 5px;
	}
	
	.portfolioArticle img {
		height: 155px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 15px;
	}
}

/* iPhone 6/7/8 Plus Portrait */
@media screen and (max-width: 414px) {
	#portfolio {
		min-height: 300px;
	}
	
    .portfolioArticle {
		height: 120px;
		width: 46.6%;
		margin: 5px;
	}
	
	.portfolioArticle img {
		height: 95px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 10px;
	}
}

/* iPhone 6/7/8 Portrait */
@media screen and (max-width: 375px) {
	
    .portfolioArticle {
		height: 120px;
		width: 46%;
	}
	
	.portfolioArticle img {
		height: 95px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 10px;
	}
}

/* iPhone 5/SE Portrait */
@media screen and (max-width: 320px) {
	
    .portfolioArticle {
		height: 100px;
		width: 45.7%;
	}
	
	.portfolioArticle img {
		height: 75px;
	}
	
	.portfolioArticle .articleTitle, .portfolioArticle .date {
		font-size: 10px;
	}
}