@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Poppins|Satisfy');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	font-smooth: always;
	box-sizing:border-box;
}

html, body {
	width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	color: #AB2222!important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#content .contentBackground:nth-child(odd) {
	background: #E8E8E8;
}

.someContent {
	min-height: 800px;
    width: 100%!important;
    /*height: 800px;*/
    position: relative!important;
    margin: auto!important;
}

.error {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	
	margin: auto;
	color: #c5c5c5;
}

.error hr {
	border: 0;
	width: 30%;
	color: #c5c5c5;
	background-color: #c5c5c5;
	height: 3px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.error h1 {
	font-family: 'Cutive Mono', monospace;
}

.error h3 {
	font-family: 'Cutive Mono', monospace;
}

.error a {
	font-family: 'Cutive Mono', monospace;
	color: #CF3030;
	text-decoration: underline;
}

.error a:hover {
	text-decoration: none;
}

.errTwit {
	color: #11a3ff!important;
	font-family: 'Cutive Mono', monospace;
	text-decoration: none!important;
}

.andzInv {
	width: 350px;
}