/* Center the slideshow */
.someContent {
  width: 100%!important;
  /*height: 800px;*/
  position: relative!important;
  margin: auto!important;
}

.mySlides {
	position: static!important;
	overflow: hidden;
	max-height: 800px;
}

.slick-slide img {
	display: block!important;
	object-fit: cover!important;
	height: 800px!important;
}

.slick-loading .slick-list
{
    background: #fff url('../slick/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../slick/fonts/slick.eot');
    src: url('../slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../slick/fonts/slick.woff') format('woff'), url('../slick/fonts/slick.ttf') format('truetype'), url('../slick/fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
	z-index: 20;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 1%;
}
[dir='rtl'] .slick-prev
{
    right: 1%;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 1%;
	z-index: 20;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 1%;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 2%;
	z-index: 20;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .5;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: white;
}

.captionStyleOne {
  color: #f2f2f2;
  font-size: 53px;
  padding: 8px 12px;
  position: absolute;
  top: 5%;
  right: 10%;
  width: 22%;
  text-align: right;
  word-break: break-word;
}

.captionStyleTwo {
  color: #f2f2f2;
  font-size: 53px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 30%;
  text-align: left;
  word-break: break-word;
}

.captionStyleTree {
  color: #f2f2f2;
  font-size: 53px;
  padding: 8px 12px;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 30%;
  text-align: left;
  word-break: break-word;
}

.captionStyleFour {
  color: #f2f2f2;
  font-size: 53px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 30%;
  text-align: right;
  word-break: break-word;
}

.imgCreditText {
	color: #f2f2f2;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	padding: 8px 12px;
	position: absolute;
	bottom: 2%;
}

.imgCreditText a {
	color: #a6a6a6;
	text-decoration: underline;
}

.imgCreditText a:hover {
	text-decoration: none;
}

/* Old Style */
/*



.slideshow-container {
  width: 100%;
  height: 800px;
  position: relative;
  margin: auto;
}





.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 2%;
}



.slideDots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
}


.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/