* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
  }

  body {
    margin: 0;
    color: #fff;
    background: #000;
    scroll-behavior: smooth;
  }

  #bttBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: solid 2px rgba(255, 255, 255, 0.3);
    outline: none;
    background: linear-gradient(45deg, rgba(8,8,8,0.7), rgba(0,255,255,0.1), rgba(255,0,255,0.1), rgba(0,0,0,0.7));
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    backdrop-filter: blur(200px);
    font-size: 2rem;
  }

  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(rgb(108, 0, 162), rgb(0, 17, 82)));
    top: 0;
    left: 0;
    z-index: -1;

    .gradients-container {
        filter: url(#goo) blur(250px);
        -webkit-filter: url(#goo) blur(250px);
        width: 100%;
        height: 100%;
    }

    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(74, 162, 255, 0.8) 0, rgba(0, 123, 255, 0) 50%) no-repeat;
        mix-blend-mode: hard-light;

        width: 50%;
        height: 50%;
        top: 20%;
        left: -5%;

        transform: translateY(calc(var(--scroll, 0) * -0.6px));

        opacity: 1;
    }

    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(255, 18, 18, 0.8) 0, rgba(204, 18, 255,0) 50%) no-repeat;
        mix-blend-mode: hard-light;

        width: 30%;
        height: 30%;
        top: 20%;
        left: 0%;

        transform: translateY(calc(var(--scroll, 0) * -0.3px));

        opacity: 1;
    }

    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(81, 18, 255, 0.8) 0, rgba(81, 18, 255, 0) 50%) no-repeat;
        mix-blend-mode: hard-light;

        width: 50%;
        height: 50%;
        top: calc(50% - (50% / 2) + 200px);
        left: calc(50% - (50% / 2) - 500px);

        transform: translateY(calc(var(--scroll, 0) * -0.45px));

        opacity: 1;
    }

    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(238, 0, 255, 0.8) 0, rgba(0, 255, 255, 0) 50%) no-repeat;
        mix-blend-mode: hard-light;

        width: 75%;
        height: 75%;
        bottom: 0;
        right: -30%;

        transform: translateY(calc(var(--scroll, 0) * -0.2px));

        opacity: 1;
    }
  }

  header {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    z-index: 1000;
    backdrop-filter: blur(500px) saturate(1.3);
    background: linear-gradient(45deg, rgba(8,8,8,0.7), rgba(0,255,255,0.1), rgba(255,0,255,0.1), rgba(0,0,0,0.7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
  }

  header::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: grayscale(100%);
    background: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.25;
    pointer-events: none;
    z-index: 1;
    border-radius: 20px;
  }

  header h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    z-index: 2;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    z-index: 2;
    align-items: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
  }

  nav a:hover {
    color: #00ffff;
  }

  .button.cta {
    padding: 1em 2em;
    background-color: rgb(11, 11, 11);
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    position: relative;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.1s;
  }

  .button.cta::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(-45deg, #00ffff, #ff00ff);
    z-index: -1;
    filter:blur(5px);
    cursor:pointer;
    transition: ease 0.1s;
  }

  .button.cta:hover::after {
    background-image: linear-gradient(45deg, #00ffff, #ff00ff);
  }

  .hero {
    height: 100vh;
    overflow: hidden;
  }

  .herobuttons {
    display: flex;
    width: 450px;
    justify-content:space-between;
  }

  .hero-container {
    width: 100%;
    height: 100%;
    padding-top: 20%;
    padding-left: 10%;
    transform: translateY(calc(var(--scroll, 0) * 0.2px));
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: #fff;
    position: relative;
  }

  .hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,1));
    z-index: 0;
  }

  .hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    background: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
  }

  .slideshow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    display: flex;
    wrap: nowrap;
    overflow: hidden;
  }

  .slideshow-wrapper .slideshow-item {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    object-fit: cover;
  }

  .hero-content {
    transform: translateY(calc(var(--scroll, 0) * -0.2px));
  }

  .hero h2 {
    font-size: 2.8rem;
    max-width: 100%;
    position: relative;
    z-index: 2;
    background: linear-gradient(-45deg, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
  }

  p.changing-text-main,
  p.changing-text-container {
    display: inline-block;
    vertical-align: top;
  }

  .changing-text {
    position:absolute;
    width: 220px;
    opacity: 0;
    text-transform: uppercase;
  }

  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }

  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .letter.behind {
    transform: rotateX(-90deg);
  }

  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .hero .button {
    margin-top: 50px;
    padding: 1em 2em;
    background-color: rgb(11, 11, 11);
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    position: relative;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.1s;
  }

  .hero .button::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(-45deg, #00ffff, #ff00ff);
    z-index: -1;
    filter:blur(5px);
    cursor:pointer;
    transition: ease 0.1s;
  }

  .hero .button:hover::after {
    background-image: linear-gradient(45deg, #00ffff, #ff00ff);
  }
  
  .section {
    width: 100%;
    min-height: 300px;
  }

  .section.fwblack {
    background: #000;
  }

  .sectionContainer {
    padding: 6rem 2rem 4rem;
    max-width: 1280px;
    margin: auto;
  }

  .sectionContainer .right {
    text-align: right;
  }

  .sectionInnerBox {
    margin: auto;
    background: #000;
    border-radius: 25px;
    border: solid 2px rgba(255, 255, 255, 0.3);
    width: 80%;
    min-height: 200px;
    padding: 20px;
  }

  .section h2 {
    color: #00ffff;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .section h3 {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    background: linear-gradient(-45deg, #00ffff, #ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 100%;
    position: relative;
  }

  .busses, .contact {
    border-radius: 20px;
  }

  .busses img {
    width: 100%;
    mix-blend-mode: screen;
  }

  footer {
    position: relative;
    padding: 2rem;
    background-color: #000000ce;
    border-top: 1px solid #222;
    color: #888;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .footerInfo {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 50px;

        .verticalLine {
            width: 1px;
            min-height: 100%;
            background: rgba(255, 255, 255, 0.1);
        }
    }
  }

  footer::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: grayscale(100%);
    background: url('https://grainy-gradients.vercel.app/noise.svg');
    opacity: 0.1;
    pointer-events: none;
    z-index: 1;
    border-radius: 20px;
  }